<!DOCTYPE html>
<html lang="{{ site.lang }}">
  
  <head>
    <title>{{ site.title }} | {{site.affiliation}}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <link rel="canonical" href="{{ site.canonical }}"/>
    <link rel="icon" href="{{ site.favicon }}" type="image/png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css>
    <link rel="stylesheet" href="./assets/css/font.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/publications.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" integrity="sha384-GvrOXuhMATgEsSwCs4smul74iXGOixntILdUW9XmUC6+HX0sLNAK3q71HotJqlAn" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js" integrity="sha384-cpW21h6RZv/phavutF+AuVYrr+dA8xD9zs6FwLpaCct6O9ctzYFfFr4dgmgccOTx" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
  </head>

  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}
  <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>

  <body>
    <div class="wrapper">
      
      <header>  
        {% if site.avatar %}<a class="image avatar"><img src="{{ site.avatar }}" alt="avatar" /></a>{% endif %}
        <h1>{{ site.title }}</h1>
        {% if site.position %}<position style="font-size:1.10rem;">{{ site.position }}</position><br>{% endif %}
        {% if site.affiliation %}<a href="{{ site.affiliation_link }}" rel="noopener"><autocolor>{{ site.affiliation }}</autocolor></a><br>{% endif %}
        {% if site.email %}<email>{{ site.email }}</email>{% endif %}
        <br><br>
        <div class="social-icons">
          {% if site.cv_link %}
          <a style="margin: 0 5px 0 0" href="{{ site.cv_link }}">
            <i class="ai ai-cv" style="font-size:1.3rem;"></i>
          </a>
          {% endif %}
          {% if site.email %}
          <a style="margin: 0 5px 0 0" href="mailto:{{ site.email }}">
            <i class="fa fa-envelope" style="font-size:1.3rem;"></i>
          </a>
          {% endif %}
          {% if site.google_scholar %}
          <a style="margin: 0 5px 0 0" href="https://scholar.google.com/citations?user={{ site.google_scholar }}">
            <i class="ai ai-google-scholar" style="font-size:1.2rem"></i>
          </a>  
          {% endif %}
          {% if site.github_username %}
          <a style="margin: 0 5px 0 0" href="https://github.com/{{ site.github_username }}">
            <i class="fab fa-github"></i>
          </a>
          {% endif %}
          {% if site.linkedin %}
          <a style="margin: 0 5px 0 0" href="https://www.linkedin.com/in/{{ site.linkedin }}">
            <i class="fab fa-linkedin"></i>
          </a>
          {% endif %}
          {% if site.twitter %}
          <a style="margin: 0 0 0 0" href="https://www.twitter.com/{{ site.twitter }}">
            <i class="fab fa-twitter"></i>
          </a>
          {% endif %}
          {% if site.orcid %}
          <a style="margin: 0 0 0 0" href="http://orcid.org/{{ site.orcid }}">
            <i class="fab fa-orcid"></i>
          </a>
          {% endif %}
        </div>
        <br>
      </header>

      <section>
      {{ content }}
      </section>

    </div>
  </body>
</html>
